<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HELP</title>
</head>
<body>
<h1> What this service about: </h1>
<p> What we have done is called the Linear Congruent Method.
    <br>
    It is very commonly used because it is easy to implement and calculations are fast.
    <br>
In different programming languages, the implementation of the linear congruent method is different,
    <br>
    that is, the values of the constants change.
    <br>
    For example, the random number function in libc (the standard C library for Linux) uses m = 2^32, a = 1664525, and c = 1013904223.
    Compilers like gcc usually use these values.</p>
  <br>
  <br>
<a href = "{% url 'home' %}">Home</a>
</body>
</html>
